* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/* type */
.container {
  width: 80%;
  margin: auto;
  position: relative;
}

.btn a {
  background-color: #ff7a59;
  color: #fff;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  padding: 10px 8px;
  text-decoration: none;
}


h1 {
  font-size: 50px;
  color: #33475B;
  font-weight: 700;
}

p {
  font-style: 16px;
  line-height:  25px;
  color: #405164;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #405164;
  font-size: 14px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  color: #33475B;
}

.clearfix::after {
  content:'';
  display: block;
  clear: both;
}

.box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 16px #EAEFF5;
}

.fa-check-circle {
  color: #FE775A;
}

h3 {
  color: #33475B;
  font-size: 25px;
}

li {
  list-style: none;
  font-weight: 500;
  color: #405164;
}
/* /type */

/* intestazione */

.color-pink {
  background-color: #F4F9FD;
  border-bottom: 2px solid black;
}

/* nav top */

.nav-top {
  padding: 3% 0;
  position: relative;
}

.nav-lang {
  display: inline-block;
  width: 40%
}
.eng {
  display: inline-block;
  border-right: 2px solid #899397;
  padding-right: 4%;
}

.contact {
  display: inline-block;
  padding-left: 4%;
}

.nav-buttons {
  display: inline-block;
  width: 30%;
  position:absolute;
  right: 10px;
}

.nav-buttons li {
  display: inline-block;
  list-style: none;
  margin: 0 2%;
  position: relative;
}

#login {
  background-color: white;
  color:
}
/* /nav top */

/* nav bottom */
.color-white {
  background-color: white;
}
.nav-bottom {
  padding: 2% 0;
}
.logo {
  display: inline-block;
  margin-bottom: 10p   x;
}
.nav-arrows{
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 50px;
}
.nav-arrows li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
  font-weight: 500;
}

.nav-arrows li span {
  display: inline-block;
  margin-left: 10px;
}
/* /nav bottom */

.hero {
  background-color:#FFF2EE;
  height: 612px;
  width: 100%;
  background-image: url('../img/jumbotron.png');
  position: relative;
}

.titolo {
 width: 50%;
 margin: 0 7%;
 padding-top: 8%;

}

.titolo p {
  margin: 4% 0%;
}

.titolo .btn  {
  margin-top: 7%;
  padding: 10px 15px;
}
.titolo .btn a {
  margin-top: 7%;
  padding: 20px 30px;
}

#band {
  background-color: #AFEBE4;
  height: 90px;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
/*/ intestazione */

/* corpo della pagina */

/* sezione cubo  */

.cube {
  background-color: #F4F9FD;

}

.cube-title {
  text-align: center;
  padding: 80px 13%;

}
.cube-title img {
  height: 200px;
}

.cube-title p {
  margin: 20px 0;
}


.freehub {
  height: 300px;

}

/* box freehub */
.box-left {
  width: 30%;
  height: 300px;
  float: left;
  text-align: center;
  padding: 30px 0;

}

.box-left img {
  height: 110px;
  margin: 20px 0;
}

.box-left > div {
  margin: 20px 0;
}
.box-right {
  width: 70%;
  height: 300px;
  float: left;
  padding: 45px 40px;
}


.box-right div, .box-right hr, .box-right li {
  display: inline-block;
}

.feature {
  font-weight: 700;
  color: #405164;
}
.box-right hr {
  width: 65%;
  margin-left: 40px;
  vertical-align: middle;
  margin-bottom: 2px;
  border: 1px solid #899397;
}

.box-right p {
  margin: 30px 0;
}
.box-right li {
  list-style: none;
  margin-top: 30px;
  padding: 2%;
  font-weight: 500;
  color: #405164;
}

.box-right span {
  margin-left: 8px;
}
/* box freehub */


.col {
  float: left;
  width: 30%;
  margin: 50px 0;
  padding: 0 1%;

}
.col h3 {
  text-align: center;
  margin-top: 25px;
}
.col img {
  max-height: 110px;
  margin-top: 40px;
}
.col p {
  text-align: center;
  margin: 40px 0;
}

.col hr {
  width: 80%;
  margin: auto;
  border: 1px solid #899397;
}

.col ul {
  margin-left: 5%;
}
.col span {
  margin-left: 8px;
}

.col .btn {
  text-align: center;
  margin: 56px 0;
}

.col a {
  padding: 15px 25px;
}
.col-center {
  margin: 50px 5%;
}
/* /sezione cubo  */

/* sezione grid  */

.grid {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  height: 600px;

}
.grid-title h3 {
  text-align: center;
  color: white;
  padding: 50px 0;
  font-size: 35px;
}
.grid-title p {
  color: white;
}

.row-up {
  margin-top: 40px;
  border-bottom: 2px solid white;
}

.box-grid {
  width: 25%;
  height: 150px;
  text-align: center;
  float: left;
  padding-top: 20px;
}

.number {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px 0;
}

.box-grid p {
  color: white;
}

.small {
  font-size: 13px;
}

.box-grid:not(.last) {
  border-right: 1px solid white;
}


/* /sezione grid  */














/* /corpo della pagina */
